[submodule "brise"]
	path = brise
	url = https://github.com/slackwarecn-slackbuilds/brise
[submodule "cssselect-python3"]
	path = cssselect-python3
	url = https://github.com/slackwarecn-slackbuilds/cssselect-python3
[submodule "bcloud"]
	path = bcloud
	url = https://github.com/slackwarecn-slackbuilds/bcloud
[submodule "dbus-python3"]
	path = dbus-python3
	url = https://github.com/slackwarecn-slackbuilds/dbus-python3
[submodule "fcitx-rime"]
	path = fcitx-rime
	url = https://github.com/slackwarecn-slackbuilds/fcitx-rime
[submodule "kconfig"]
	path = kconfig
	url = https://github.com/slackwarecn-slackbuilds/kconfig
[submodule "libQtShadowsocks"]
	path = libQtShadowsocks
	url = https://github.com/slackwarecn-slackbuilds/libQtShadowsocks
[submodule "librime"]
	path = librime
	url = https://github.com/slackwarecn-slackbuilds/librime
[submodule "marisa-trie"]
	path = marisa-trie
	url = https://github.com/slackwarecn-slackbuilds/marisa-trie
[submodule "pyinotify-python3"]
	path = pyinotify-python3
	url = https://github.com/slackwarecn-slackbuilds/pyinotify-python3
[submodule "shadowsocks-qt5"]
	path = shadowsocks-qt5
	url = https://github.com/slackwarecn-slackbuilds/shadowsocks-qt5
[submodule "sublimetext3"]
	path = sublimetext3
	url = https://github.com/slackwarecn-slackbuilds/sublimetext3
[submodule "netease-cloud-music"]
	path = netease-cloud-music
	url = https://github.com/slackwarecn-slackbuilds/netease-cloud-music
[submodule "fcitx-sogoupinyin"]
	path = fcitx-sogoupinyin
	url = https://github.com/slackwarecn-slackbuilds/fcitx-sogoupinyin
[submodule "fcitx-qimpanel"]
	path = fcitx-qimpanel
	url = https://github.com/slackwarecn-slackbuilds/fcitx-qimpanel
[submodule "shadowsocks-libev"]
	path = shadowsocks-libev
	url = https://github.com/slackwarecn-slackbuilds/shadowsocks-libev
[submodule "WizNote"]
	path = WizNote
	url = https://github.com/slackwarecn-slackbuilds/WizNote
[submodule "Firefox-hardened-nonprism"]
	path = Firefox-hardened-nonprism
	url = https://github.com/slackwarecn-slackbuilds/Firefox-hardened-nonprism
[submodule "macchiato-nonprism"]
	path = macchiato-nonprism
	url = https://github.com/slackwarecn-slackbuilds/macchiato-nonprism
[submodule "icecat-hardened-nonprism"]
	path = icecat-hardened-nonprism
	url = https://github.com/slackwarecn-slackbuilds/icecat-hardened-nonprism
[submodule "fcitx-SlackBuild-live"]
	path = fcitx-SlackBuild-live
	url = https://github.com/slackwarecn-slackbuilds/fcitx-SlackBuild-live
[submodule "Tor-nonprism"]
	path = Tor-nonprism
	url = https://github.com/slackwarecn-slackbuilds/Tor-nonprism
[submodule "NetworkManager-nonprism"]
	path = NetworkManager-nonprism
	url = https://github.com/slackwarecn-slackbuilds/NetworkManager-nonprism
